[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/autoreadwatch"]
	path = .vim/bundle/autoreadwatch
	url = https://github.com/kballenegger/vim-autoreadwatch.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
