[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/autoreadwatch"]
	path = .vim/bundle/autoreadwatch
	url = https://github.com/kballenegger/vim-autoreadwatch.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/you-complete-me"]
	path = .vim/bundle/you-complete-me
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/autoclose"]
	path = .vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/delimit-mate"]
	path = .vim/bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/closetags"]
	path = .vim/bundle/closetags
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/git-gutter"]
	path = .vim/bundle/git-gutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/pasta"]
	path = .vim/bundle/pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule ".vim/bundle/tpope-markdown"]
	path = .vim/bundle/tpope-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/bundle/jsx"]
	path = .vim/bundle/jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/niji"]
	path = .vim/bundle/niji
	url = https://github.com/amdt/vim-niji
[submodule ".powerline"]
	path = .powerline
	url = https://github.com/Lokaltog/powerline
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule ".vim/bundle/indent-line"]
	path = .vim/bundle/indent-line
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/showmarks"]
	path = .vim/bundle/showmarks
	url = https://github.com/vim-scripts/ShowMarks
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule ".vim/bundle/signature"]
	path = .vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature
[submodule ".vim/bundle/lexical"]
	path = .vim/bundle/lexical
	url = https://github.com/reedes/vim-lexical
[submodule ".vim/bundle/pencil"]
	path = .vim/bundle/pencil
	url = https://github.com/reedes/vim-pencil
[submodule ".vim/bundle/wordy"]
	path = .vim/bundle/wordy
	url = https://github.com/reedes/vim-wordy
[submodule ".vim/bundle/textobj-quote"]
	path = .vim/bundle/textobj-quote
	url = https://github.com/reedes/vim-textobj-quote
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/bundle/textobj-sentence"]
	path = .vim/bundle/textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/obsession"]
	path = .vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/easy-align"]
	path = .vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
