[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/autoreadwatch"]
	path = .vim/bundle/autoreadwatch
	url = https://github.com/kballenegger/vim-autoreadwatch.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/you-complete-me"]
	path = .vim/bundle/you-complete-me
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/autoclose"]
	path = .vim/bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/delimit-mate"]
	path = .vim/bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/closetags"]
	path = .vim/bundle/closetags
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/git-gutter"]
	path = .vim/bundle/git-gutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/utilsnips"]
	path = .vim/bundle/utilsnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
